// Colors
$IColor: #ffffff;
$IIColor: #000000;
$IIIColor: #FF6B08;
$IVColor: #545454;
$lineColor: #FF001B;
$IBgColor: #F7F7F7;
$ImodalColor: #8C8C8C;
$IImodalColor: #FF6B01;
$IbtnColor: #FF6B01;
$IIbtnColor: #FF6B02;
$modalBgColor: #8C8C8C;
// Fonts
$fontPrimary: 'Roboto', sans-serif;