// Colors
$IColor: #ffffff;
$IIColor: #000000;
$IIIColor: #ff6b08;
$IVColor: #545454;
$lineColor: #ff001b;
$IBgColor: #f7f7f7;
$ImodalColor: #8c8c8c;
$IImodalColor: #ff6b01;
$IbtnColor: #ff6b01;
$IIbtnColor: #ff6b02;
$modalBgColor: #8c8c8c;
// Fonts
$fontPrimary: "Roboto", sans-serif;
