<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button class="modal__btn-close" type="button" data-modal-close>
            <svg width="30" height="30">
                <use href="images/logo.svg#icon-close-black-18dp-2-1"></use>
            </svg>
        </button>
        <div id="modal-container-index" class="modal-container"></div>
        <img class="modal__photo" src="https://image.tmdb.org/t/p/w500/qNBAXBIQlnOThrVvA6mA2B5ggV6.jpg" alt="">
        <div class="modal__btn">
            <button class="modal__btn-add " watched type="submit">add to watched</button>
            <button class="modal__btn-add " queue type="submit">add to queue</button>
        </div>
    </div>
</div>