<div class="page-header">
  <div class="page-header__wrapper container">
    <div class="page-header__logo-title">
      <svg class="page-header__logo" width="24" height="24">
        <use href="images/logo.svg#icon-film"></use>
      </svg>
      <a href="index.html">
        <span class="page-header__title">Filmoteka</span>
      </a>
    </div>

    <nav class="page-header__navigation">
      <ul class="page-header__navigation--list">
        <li class="page-header__navigation--item">
          <a class="page-header__navigation--link current" href="index.html"
            >home</a
          >
        </li>
        <li class="page-header__navigation--item">
          <a class="page-header__navigation--link" href="library.html"
            >my library</a
          >
        </li>
      </ul>
    </nav>
  </div>
  <div class="page-header__search">
    <div class="page-header__search-border"></div>
  </div>
</div>
