<div id="modalBox" class="backdrop is-hidden">
  <div class="modal">
    <button class="modal__btn-close" type="button">
      <svg width="30" height="30">
        <use href="images/logo.svg#icon-close-black-18dp-2-1"></use>
      </svg>
    </button>

    <div class="modal__item">
      <div class="modal__phot">
        <img
          class="modal__photo"
          src="https://image.tmdb.org/t/p/w500/qNBAXBIQlnOThrVvA6mA2B5ggV6.jpg"
          alt=""
        />
      </div>
      <div class="modal__info">
        <h2 class="modal__title">a fistful of lead</h2>
        <div class="modal__stats">
          <div class="modal__stats-list">
            <div class="modal__stats-info">Vote / Votes</div>
            <div id="modal__votes modal__stats-result">
              <span class="modal__stats-vote">7.3</span> /
              <span class="modal__stats-votes">1260</span>
            </div>
          </div>
          <div class="modal__stats-list">
            <div class="modal__stats-info">Popularity</div>
            <div class="modal__popularity modal__stats-result">100.2</div>
          </div>
          <div class="modal__stats-list">
            <div class="modal__stats-info">Original Title</div>
            <div class="modal__film-title modal__stats-result">
              A FISTFUL OF LEAD
            </div>
          </div>
          <div class="modal__stats-list">
            <div class="modal__stats-info">Genre</div>
            <div class="modal__genre modal__stats-result">Western</div>
          </div>
        </div>
        <div class="modal__about">
          <h3 class="modal__about-header">about</h3>
          <p class="modal__about-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
            dolor, amet, similique quidem reiciendis temporibus dolores
            consectetur, autem magni qui aspernatur unde labore excepturi
            distinctio voluptas nobis? Ipsum, excepturi quaerat?
          </p>
        </div>
        <div class="modal__info-buttons">
          <button id="modal__button-watched" class="modal__button">
            add to watched
          </button>
          <button id="modal__button-queue" class="modal__button">
            add to queue
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
