<div id="movies-container-index" class="movies-container container"></div>

<section id="cards" class="wrapper container">
  <div id="card" class="card">
    <img class="card__poster" src="./images/movie1.jpg" alt="Movie1" />
    <div class="card__content">
      <div class="card__info">
        <div class="card__title">GREYHOUND</div>
        <div class="card__genre">Drama, Action |</div>
        <div class="card__release">2020</div>
      </div>
    </div>
  </div>
  <div id="card" class="card">
    <img class="card__poster" src="./images/movie1.jpg" alt="Movie1" />
    <div class="card__content">
      <div class="card__info">
        <div class="card__title">GREYHOUND</div>
        <div class="card__genre">Drama, Action |</div>
        <div class="card__release">2020</div>
      </div>
    </div>
  </div>
  <div id="card" class="card">
    <img class="card__poster" src="./images/movie1.jpg" alt="Movie1" />
    <div class="card__content">
      <div class="card__info">
        <div class="card__title">GREYHOUND</div>
        <div class="card__genre">Drama, Action |</div>
        <div class="card__release">2020</div>
      </div>
    </div>
  </div>
  <div id="card" class="card">
    <img class="card__poster" src="./images/movie1.jpg" alt="Movie1" />
    <div class="card__content">
      <div class="card__info">
        <div class="card__title">GREYHOUND</div>
        <div class="card__genre">Drama, Action |</div>
        <div class="card__release">2020</div>
      </div>
    </div>
  </div>

  <div id="card" class="card">
    <img class="card__poster" src="./images/movie1.jpg" alt="Movie1" />
    <div class="card__content">
      <div class="card__info">
        <div class="card__title">GREYHOUND</div>
        <div class="card__genre">Drama, Action |</div>
        <div class="card__release">2020</div>
      </div>
    </div>
  </div>
  <div id="card" class="card">
    <img class="card__poster" src="./images/movie1.jpg" alt="Movie1" />
    <div class="card__content">
      <div class="card__info">
        <div class="card__title">GREYHOUND</div>
        <div class="card__genre">Drama, Action |</div>
        <div class="card__release">2020</div>
      </div>
    </div>
  </div>
</section>
