<div class="page-header-library">
  <div class="page-header-library__wrapper container">
    <div class="page-header-library__logo-title">
      <a href="index.html">
        <svg class="page-header-library__logo" width="24" height="24">
          <use href="images/logo.svg#icon-film"></use>
        </svg>
        <span class="page-header-library__title">Movie.lib</span>
      </a>
    </div>
    <nav class="page-header-library__navigation">
      <ul class="page-header-library__navigation--list">
        <li class="page-header-library__navigation--item">
          <a class="page-header-library__navigation--link" href="index.html"
            >home</a
          >
        </li>
        <li class="page-header-library__navigation--item">
          <a
            class="page-header-library__navigation--link current__line"
            href="library.html"
            >my library</a
          >
        </li>
      </ul>
    </nav>
  </div>
  <div class="page-header-library__buttons">
    <button
      type="button"
      id="button-watched"
      class="page-header-library__buttons-item"
    >
      Watched</button
    ><button
      type="button"
      id="button-queue"
      class="page-header-library__buttons-item"
    >
      Queue
    </button>
  </div>
</div>
