.footer {
  width: 100%;
  height: 100px;
  margin: auto;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__wrapper {
    width: 100%;
  }

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  &__titleBox {
    display: flex;
  }

  &__titleCopy {
    color: #545454;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
  }

  &__icon {
    vertical-align: -1px;
    fill: #ff6b08;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    height: 80px;

    &__title {
      flex-direction: row;
      gap: 3px;
    }
  }
}