html {
  scroll-behavior: smooth;
}

body {
  font-family: $fontPrimary;
  color: $IIColor;
  background-color: $IColor;
  font-weight: 500;
  line-height: 1.17;
  margin: 0;
  /*
    font-weight: 400;
    line-height: 1.14;
    line-height: 1.2;  -> movie title & description
    line-height: 1.33; -> paginations numbers
    font-size: 12px;
    font-size: 14px;
    font-size: 20px;
    font-size: 30px;
    */
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: color 600000s 0s, background-color 600000s 0s;
}

input::placeholder {
  color: $IColor;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.12), 2px 2px 2px rgba(0, 0, 0, 0.14),
    2px 3px 2px rgba(0, 0, 0, 0.2);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

img:hover,
img:focus {
  box-shadow: 8px 8px 8px 3px rgba(0, 0, 0, 0.2),
    9px 9px 20px 2px rgba(0, 0, 0, 0.4);
}

button {
  box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.12), 2px 2px 2px rgba(0, 0, 0, 0.14),
    2px 3px 2px rgba(0, 0, 0, 0.2);
}

button:hover,
button:focus {
  box-shadow: 8px 8px 8px 3px rgba(0, 0, 0, 0.2),
    9px 9px 20px 2px rgba(0, 0, 0, 0.4);
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  margin: 0 auto;

  @media screen and (min-width: 320px) {
    width: 320px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}

.hidden {
  display: none;
}

.current {
  color: $lineColor;

  &::after {
    display: block;
    content: "";
    width: 34px;
    height: 3px;
    background: $lineColor;
    border-radius: 2px;
  }

  &__line {
    &::after {
      display: block;
      content: "";
      width: 69px;
      height: 3px;
      background: $lineColor;
      border-radius: 2px;
    }
  }
}
