// ️☎️ Mobile First ...START
.page-header {
  height: 230px;
  background-image: url(../images/backgroundHome-M@1x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;

  &__wrapper {
    display: flex;
    padding: 40px 20px 0;
  }

  &__title {
    color: $IColor;
    font-size: 30px;
  }

  &__navigation--list {
    display: flex;
    gap: 40px;
    padding-left: 112px;
  }

  &__navigation--link {
    color: $IColor;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.16;
  }

  &__search {
    display: flex;
    justify-content: center;
    padding-top: 37px;
  }

  &__search-border {
    width: 230px;
    padding: 10px 10px;
    color: $IColor;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.14;
    background-color: #2c282b;
    border: 10px dotted white;
    border-radius: 17px;
    opacity: 0.7;
    transition: 500ms ease-in;
  }

  &__search-border:hover,
  &__search-border:focus {
    outline: none;
    transform: scale(1.2);
    opacity: 1;
    border-color: red;
    animation-name: flash_border;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

@keyframes flash_border {
  0% {
    border-color: gold;
  }

  25% {
    border-color: $IImodalColor;
  }

  50% {
    border-color: $lineColor;
  }

  75% {
    border-color: $IColor;
  }

  100% {
    border-color: gold;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveup {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-2px);
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .page-header {
    background-image: url(../images/backgroundHome-M@2x.png);
  }
}

@media screen and (max-width: 767px) {
  .page-header {
    &__title {
      display: none;
    }
  }
}

// ️☎️ Mobile First ...END

@media screen and (min-width: 768px) {
  .page-header {
    height: 216px;
    background-image: url(../images/backgroundHome-T@1x.png);

    &__wrapper {
      padding-left: 32px;
      padding-right: 32px;
    }

    &__title {
      padding-left: 8px;
    }

    &__navigation--list {
      padding-left: 387px;
    }

    &__search {
      padding-top: 30px;
    }

    &__search-border {
      width: 336px;
    }
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .page-main {
    background-image: url(../images/backgroundHome-T@2x.png);
  }
}

@media screen and (min-width: 1280px) {
  .page-header {
    background-image: url(../images/backgroundHome-D@1x.png);

    &__wrapper {
      padding-left: 32px;
      padding-right: 32px;
    }

    &__search-border {
      width: 394px;
    }

    &__title {
      padding-left: 10px;
    }

    &__navigation--list {
      padding-left: 898px;
    }
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .page-main {
    background-image: url(../images/backgroundHome-T@2x.png);
  }
}
