.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  background-color: $IColor;
  transition: 800ms;

}

.card {
  animation: 1200ms cubic-bezier(.25, .25, .25, 1.15) both fade-in;
}

@for $i from 1 through 20 {
  .card {
    &:nth-child(#{$i}) {
      animation-delay: $i * (250ms);
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: rotateY(180deg);
  }

  100% {
    opacity: 1;
    transform: rotateY(0);
  }
}

.hidden {
  background-color: rgba(0, 0, 0, 0.2);
  transition: 600ms;
}

.card {
  &__content {
    display: flex;
    gap: 9px;
  }

  &__info {
    padding-top: 8px;
  }

  &__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;
    color: $IIColor;
  }

  &__genre {
    display: inline;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: $IIIColor;

  }

  &__release {
    display: inline;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: $IIIColor;
  }

  &__rating {
    display: inline;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: $IIIColor;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding: 60px 32px;
    gap: 32px;
  }

  .card {
    &__info {
      width: 336px;
    }
  }

  .card__poster {
    width: 336px;
  }

  @media screen and (min-width: 1280px) {
    .wrapper {
      padding: 60px 32px;
      gap: 15px;
    }

    .hidden {
      background-color: transparent;
    }

    .card {
      &__info {
        width: 395px;
      }
    }

    .card__poster {
      width: 395px;
    }
  }
}