.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  background-color: $IColor;
  transition: 800ms;
}

.movies-container {
  margin-bottom: 40px;
}

.card {
  cursor: pointer;
  animation: 1200ms cubic-bezier(0.25, 0.25, 0.25, 1.15) both fade-in;

  &__content {
    display: flex;
    gap: 9px;
  }

  &__info {
    padding-top: 8px;
  }

  &__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;
    color: $IIColor;
  }

  &__genre {
    display: inline;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: $IIIColor;
  }

  &__release {
    display: inline;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: $IIIColor;
  }

  &__rating {
    display: inline;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: $IIIColor;
  }
}

@for $i from 1 through 20 {
  .card {
    &:nth-child(#{$i}) {
      animation-delay: $i * (250ms);
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: rotateY(180deg);
  }

  100% {
    opacity: 1;
    transform: rotateY(0);
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding: 60px 32px;
    gap: 32px;
  }

  .card {
    &__info {
      width: 336px;
    }

    &__poster {
      width: 336px;
    }
  }

  @media screen and (min-width: 1280px) {
    .wrapper {
      padding: 60px 32px;
      gap: 15px;
    }

    .card {
      &__info {
        width: 395px;
      }
    }

    .card__poster {
      width: 395px;
    }
  }
}
